<!DOCTYPE html>
<html>
<body>
	<h1>Add Animals</h1>
	<form>
		<table class="tab-no-border">
			<tbody>
			<tr>
				<td>Animal Name:</td>
				<td><input type="text" id="name" name="name" ng-model="name" /></td>
			</tr>
			<tr>
				<td>Specie:</td>
				<td><select id="specie" name="species" ng-model="specie" ng-options="s.specieName for s in species"></select></td>
			</tr>
			<tr>
				<td>Enclosure:</td>
				<td><select id="enclosure" name="enclosure" ng-model="enclosure" ng-options="e.id + ' ' + e.enclosure.enclosureType for e in enclosures"></select></td>
			</tr>
			</tbody>
		</table>
	</form>
	<button ng-click="add()">Add Animal</button>
	<a href="/">
		<button>Close</button>
	</a>
	<br>
	{{ res }}

</body>
</html>
