table {
    border-collapse: collapse;
}
#animals th, #animals td {
	border: 1px solid #ccbbee;
	height: 1.25em;
}
th {
    background-color: #c1c1df;
}
#animals tr:nth-child(even) {
    background-color: #f1e1f1;
}
.th-sortable:hover {
    background-color: #d1d1f1;
    cursor: pointer;
}
.tab-no-border {
    border: none;
}
#name, #specie, #enclosure {
    width: 100%;
}